@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './badges.css';
@import './buttons.css';
@import './headings.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-gray-200 font-semibold;
  background-color: hsl(242, 47%, 20%);
  background-image: repeating-linear-gradient(315deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.05) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(405deg, rgba(168, 168, 168,0.05) 0px, rgba(168, 168, 168,0.05) 1px,transparent 1px, transparent 13px);
}

a {
  @apply underline decoration-yellow-600 hover:text-indigo-400 decoration-2 underline-offset-2;
}

p {
  @apply my-4;
}

* {
  box-sizing: border-box;
}
